body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 115%;
}

header {
    background-color: #3498db;
    text-align: center;
    padding: 1%;
    color: white;
}

nav#Content {
    background-color: #3498db;
    width: 20%;
    float: left;
    padding: 2%;
}

nav#Content ul {
    list-style-type: none;
    padding: 0;
}

nav#Content li {
    margin-bottom: 1%;
    padding: 2%
}

nav#Content a {
    color: white;
    text-decoration: none;
   
}

section {
    margin-left: 22%;

}

table {
    width: 100%;
}

td {
    vertical-align: top;
    padding: 1%;
}

video {
    width: 50%;
}
img{
    width:75%
    
}
#Credits{
    width: 70%
}
#subtitles{
    font-size:25%;
}